<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>about</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <header>
      <div class="fondo">
        <!-- <img class="fotoPerfil" src="/img/leonardoDiCaprio.jpg" alt="icono" /> -->
      </div>

      <nav>
        <ul>
          <li><a href="/index.html">Ir a pagina principal</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="items">
        <h2>Erika Rios</h2>

        <p>
          Soy una persona proactiva, organizada y responsable, con buenas
          relaciones interpersonales. Siempre tengo la mejor disposición para la
          realización de mis labores. Busco un puesto desafiante donde pueda
          continuar aprendiendo.
        </p>
      </section>
      <section class="items">
        <h2>XXXXXXXX</h2>
        <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
      </section>

      <section class="items">
        <h2>XXXXXXXX</h2>
        <p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
      </section>
      <section class="items">
        <img src="/img/IMG-2144.jpg" width="80px" />

        <h2>Nadia Soria</h2>
        <p>
          Como objetivo me propuse utilizar mi empatía y gran capacidad de
          aprendizaje para desenvolverme en cualquier área de trabajo, ya sea
          conocido o no. No creo en las excusas y voy a utilizar mis aptitudes y
          conocimientos para sumar al constante crecimiento de la empresa.
          Pretendo formar parte de una empresa en la que pueda poner en práctica
          los conocimientos que tengo, que me ofrezca la oportunidad de superar
          todas mis metas y que me permita mejorar y crecer en el ámbito
          personal, intelectual y laboral.
        </p>
      </section>

      <section class="items">
        <h2>Sammy Gigi Cantoral Montejo</h2>
        <img
          src="https://raw.githubusercontent.com/sgcm14/sgcm14/main/sammy.jpg"
          width="80px"
        />

        <p>
          Me encantan los retos porque siento que es la manera de ponerme a
          prueba y demostrarme que puedo lograr lo que me proponga.
        </p>
      </section>
    </main>
    <footer>
      <span class="mr"> Sala 7 </span>
      <a class="mr" href="https://www.instagram.com/"
        ><img src="/img/ico_instagram.png" alt="instagram"
      /></a>
      <a class="mr" href="https://www.linkedin.com/"
        ><img src="/img/ico_linkedin.png" alt="linkedin"
      /></a>
      <a href="https://github.com/"
        ><img src="/img/github.png" alt="Github" width="25px" />
      </a>
    </footer>
  </body>
</html>
